.header .header-top { 
  background-color: #e83e8c; 
}
 
.header .header-main-menu{
  border-top: 3px solid #e83e8c;
}
 
a.btn-submit,
.form .btn-submit { 
  background-color: #e83e8c;
  border-color: #e83e8c;
}

a.btn-submit:hover,
.form .btn-submit:hover { 
  background: #970447;
  border-color: #970447;
}
 
 
.video-list.card .card-body  a:hover {
  color: #e83e8c; 
}
    
.video-detail.card .card-body  a:hover {
  color: #e83e8c; 
} 

.related-video.card .card-body > ul li a:hover { 
  color: #e83e8c; 
}
 
.agenda.card .card-body  a:hover {
  color: #e83e8c; 
}
   
.grid.card .image-container a {
  color:#e83e8c;
}

.grid.card .card-body  a:hover {
  color: #e83e8c; 
}
   
.blog.card .card-body  a:hover {
  color: #e83e8c; 
}
  

.blog-detail.card .card-body  a:hover {
  color: #e83e8c; 
}
      
.row-blog.card .card-body  a:hover {
  color: #e83e8c; 
}
 

.blog-list.card .card-body  a:hover {
  color: #e83e8c; 
}
 
.polling label.bar {  
  background-color: #e83e8c; 
}
 
.sidebar .widget.card > ul li a:hover,
.sidebar .widget.card .card-body > ul li a:hover{ 
  color: #e83e8c; 
}
 
.sidebar .widget.widget-tagcloud .tagcloud a:hover{
  color: #e83e8c !important; 
}

 
 
.sidebar .widget.widget-comments ul li a:hover {
  color: #e83e8c; 
}
  
.sidebar .widget.widget-social .social-bar a.social-icon { 
  border: 1px solid #e83e8c;
  color: #e83e8c; 
} 
 
.sidebar .widget.widget-social .social-bar a.social-icon:hover  {
  background: #e83e8c; 
}
 

.sidebar .widget.posts-widget li.list-post a:hover {
  color: #e83e8c; 
}
 
.sidebar .widget.widget-contact .contact .data label {
  color: #e83e8c;
} 

#footer .footer  ul li a:hover,
#footer .footer .card-body ul li a:hover{ 
  color: #e83e8c; 
}
 

.section .card-body .body-container a:hover{
  color: #e83e8c; 
}
 

.section .card-body .body-container.animate:hover{ 
  border-bottom: 5px solid #e83e8c;
}
  
#carouselHero .carousel-caption a:hover{
  color: #e83e8c;
}
 
#back-to-top { 
  background: #e83e8c; 
}
 
#footer-bottom ul.footer-menu li a:hover{
  color: #e83e8c;
}

 

.btn-theme { 
  background-color: #e83e8c;
  border-color: #e83e8c;
 }
 .btn-theme:hover {  
  background: #970447;
  border-color: #970447; 
 }
  
  
.btn-responsive {
  background: #e83e8c; 
}
  
.team-socmed a { 
  border: 1px solid #e83e8c;
  color: #e83e8c !important;
} 

.team-socmed a:hover  {
  background: #e83e8c; 
}
 
 
 .section .section-container > a.read-more:hover{
   color: #e83e8c;
 }
 
.section .section-container .section-body .section-post.card.post-list .card-body a:hover,
.section .section-container .section-body .section-post.card .post-content a:hover{
 text-decoration: none;
 color: #e83e8c;
}
 
.section.featured .section-container .section-body .section-post .card-body a:hover{
  color: #e83e8c;
}
 
#breaking-news .breaking-content .title { 
  background: #e83e8c; 
}

#breaking-news .breaking-content .breaking-news-slider {  
  border: 1px solid #e83e8c; 
} 
 

#breaking-news .breaking-content .breaking-news-slider a {
  color: #e83e8c; 
}
 
#breaking-news .breaking-content .breaking-news-slider .owl-nav button{  
  border: 1px solid #e83e8c;
  color: #e83e8c; 
}   


.pagination a {     
  border: 1px solid #e83e8c;
  color: #e83e8c; 
}

.pagination span.current { 
  background: #e83e8c; 
}

.pagination a:hover { 
  background: #e83e8c;
} 