.header .header-top { 
  background-color: #0fb9b1; 
}

.fixed-top {
  border-top: 3px solid #0fb9b1;
} 

 
a.btn-submit,
.form .btn-submit { 
  background-color: #0fb9b1;
  border-color: #0fb9b1;
}

a.btn-submit:hover,
.form .btn-submit:hover { 
  background: #0d7282;
  border-color: #0d7282;
}
 
h3.comments a.comment-write:hover,
ol.commentlist li a:hover,
.video-list.card .card-body  a:hover {
  color: #0fb9b1; 
}
    
.video-detail.card .card-body  a:hover {
  color: #0fb9b1; 
} 

.related-video.card .card-body > ul li a:hover { 
  color: #0fb9b1; 
}
 
.agenda.card .card-body  a:hover {
  color: #0fb9b1; 
}
   
.grid.card .image-container a {
  color:#0fb9b1;
}

.grid.card .card-body  a:hover {
  color: #0fb9b1; 
}
   
.blog.card .card-body  a:hover {
  color: #0fb9b1; 
}
  

.blog-detail.card .card-body  a:hover {
  color: #0fb9b1; 
}
      
.row-blog.card .card-body  a:hover {
  color: #0fb9b1; 
}
 

.blog-list.card .card-body  a:hover {
  color: #0fb9b1; 
}
 
.polling label.bar {  
  background-color: #0fb9b1; 
}
 
.sidebar .widget.card > ul li a:hover,
.sidebar .widget.card .card-body > ul li a:hover{ 
  color: #0fb9b1; 
}
 
.sidebar .widget.widget-tagcloud .tagcloud a:hover{
  color: #0fb9b1 !important; 
}

 
 
.sidebar .widget.widget-comments ul li a:hover {
  color: #0fb9b1; 
}
  
.sidebar .widget.widget-social .social-bar a.social-icon { 
  border: 1px solid #0fb9b1;
  color: #0fb9b1; 
} 
 
.sidebar .widget.widget-social .social-bar a.social-icon:hover  {
  background: #0fb9b1; 
}
 

.sidebar .widget.posts-widget li.list-post a:hover {
  color: #0fb9b1; 
}
 
.sidebar .widget.widget-contact .contact .data label {
  color: #0fb9b1;
} 

#footer .footer  ul li a:hover,
#footer .footer .card-body ul li a:hover{ 
  color: #0fb9b1; 
}
 

.section .card-body .body-container a:hover{
  color: #0fb9b1; 
}
 

.section .card-body .body-container.animate:hover{ 
  border-bottom: 5px solid #0fb9b1;
}
  
#carouselHero .carousel-caption a:hover{
  color: #0fb9b1;
}
 
#back-to-top { 
  background: #0fb9b1; 
}
 
#footer-bottom ul.footer-menu li a:hover{
  color: #0fb9b1;
}

 

.btn-theme { 
  background-color: #0fb9b1;
  border-color: #0fb9b1;
 }
 .btn-theme:hover {  
  background: #0d7282;
  border-color: #0d7282; 
 }
  
  
.btn-responsive {
  background: #0fb9b1; 
}
  
.team-socmed a { 
  border: 1px solid #0fb9b1;
  color: #0fb9b1 !important;
} 

.team-socmed a:hover  {
  background: #0fb9b1; 
}
 
.section .section-container .featured-post-grid .card-body a:hover,
.section-slider .carousel-caption a:hover,
.section .section-container > a.read-more:hover{
   color: #0fb9b1;
 }
 
.section .section-container .section-body .section-post.card.post-list .card-body a:hover,
.section .section-container .section-body .section-post.card .post-content a:hover{
 text-decoration: none;
 color: #0fb9b1;
}
 
.section.featured .section-container .section-body .section-post .card-body a:hover{
  color: #0fb9b1;
}
 
#breaking-news .breaking-content .title { 
  background: #0fb9b1; 
}

#breaking-news .breaking-content .breaking-news-slider {  
  border: 1px solid #0fb9b1; 
} 
 

#breaking-news .breaking-content .breaking-news-slider a {
  color: #0fb9b1; 
}
 
#breaking-news .breaking-content .breaking-news-slider .owl-nav button{  
  border: 1px solid #0fb9b1;
  color: #0fb9b1; 
}     

.pagination a {     
  border: 1px solid #0fb9b1;
  color: #0fb9b1; 
}

.pagination span.current { 
  background: #0fb9b1; 
}

.pagination a:hover { 
  background: #0fb9b1;
} 

h3.comments::before,
.post-head::before,
.sidebar .widget .card-header::before,
.related-blog.card .card-header::before,
.comment-respond .comment-reply-title::before,
.sidebar .widget.widget-iklan-link .card-header::before,
.section.latest-news .section-container .section-title::before,
.section.category .section-container .section-title::before,
.section.featured .section-container .section-title::before,
.section.gallery .section-container .section-title::before, 
.section.video .section-container .section-title::before,
.section.agenda .section-container .section-title::before  {  
  background: #0fb9b1;
}